<div class="container">
  <div class="row my-3">
    <div class="col-8 cocktail-show" data-aos="fade-up">
      <h3 class='cocktail-title my-3'><%= @cocktail.name %></h3>
      <%= cl_image_tag @cocktail.photo.key, height: 300, width: 400, crop: :fill, class: "cocktail-img" %>
      <div class="info-container">
        <h5>Recipe list</h5>
        <% @cocktail.doses.each do |dose| %>
          <p>
            <span style="font-size: 1em; color: Tomato; display: inline">
              <i class="fas fa-plus"></i>
            </span>
            <%= dose.ingredient.name %> -- <%= dose.description %>
          </p>
        <% end %>
        <%= render "doses/new", cocktail: @cocktail, dose: @dose %>
      </div>
      <div class="info-container">
        <h5>Reviews</h5>
        <% @cocktail.reviews.each do |review| %>
          <p>
            <span style="font-size: 1em; color: Tomato; display: inline">
              <i class="fas fa-star-of-life"></i>
            </span>
            <%= review.content %> -- <%= review.rating %>⭐️
          </p>
        <% end %>
        <%= render "reviews/new", cocktail: @cocktail, review: @review %>
      </div>
    </div>
  </div>
</div>
